.data{
    display: flex;
    width: 70%;
    height: 12vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FBFBFB;
}

.icon{
    width: 60px;
    height: 60px;
}

.number{
    font-weight: 700;
    font-size: 20px;
}

.unit{
    font-size: 14px;
    font-weight: 400;
    color: #74798C;
}

@media screen and (max-width: 1140px) {
    .icon{
        width: 40px;
        height: 40px;
    }
  }