@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html,body{
    margin:0;
    }
html, #root, .App{
    height: 100vh;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    height: 100vh;
}

.datas{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 31vh;
    right:90px;
    width: 17%;
    height: calc(100vh - 31vh - 8vh);
    justify-content: space-between;
}

